.category-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category-container h2{
    text-align: center;
    margin-top:2rem;
}
.content-category:hover{
    transform: translate(3%, -3%);
}
.content-category{
    width: 8rem;
    height: 6rem;
    margin: 4px;
    cursor: pointer;
}
.category-image{
    width:8rem ;
    height: 6rem;
}
.content-category h3{
    text-align: center;
    color: var(--color-primary-dark);
}