.product-filter{
    align-items: center;
    justify-content: space-between;
}
.product-filter a{
    color: var(--color-gray-100);
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 4px;
    margin: 1rem;
}
.product-filter a:hover{
    background-color: var(--color-gray-100);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 3px;
}
.filter-content{
    padding: 5px;
}
.filter-content p{
    font-weight: bold;
    padding: 5px 0;
}
.filter-content li{
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    padding: 2px;
}
.checked{
    color: var(--color-warning);
}
.range-filter input{
    width: 7rem;
}