.content-footer{
    background-color: var(--color-gray-200);
    justify-content: space-around;
    margin-top: 1rem;
    padding-top: 1rem;
}
.footer-list{
    margin: 8px;
    font-weight: bolder;
    font-size: 2rem;
    list-style: none;
}

.footer-list li{
    font-weight: bold;
    font-size: 1rem;
    padding: 8px;
    cursor: pointer;
}
.footer-list li:hover{
    color: var(--color-gray-100);
}
.footer-about{
    list-style: none;
}