.header-container h3{
    font-size: x-large;
}
.header-links{
    margin-left: 25rem;
}
.search-bar{
    position: relative;
    left: 10rem;
}
.search-bar input{
    padding-right: 2rem;
    border-radius: 5px;
    height: 1.5rem;
    width: 15rem ;
 }
 .search-bar i{
     padding: 8px;
 }