.main-content{
    width: 82%;
}
.product-container{
    height: 25rem;
    width: 69rem;
    border: 1px solid var(--color-gray-200);
    margin-top:5px ;
    border-radius: 10px;
}
.product-heading{
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.product-content{
    border-top: 1px solid var(--color-gray-200);
    flex-wrap: wrap;
}
.product-heading-btn{
    color: var(--color-gray-100);
    margin: 10px;
}
.product-heading-btn:hover ,.vertical-card-button button:hover{
    background-color: var(--color-gray-100);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.vertical-card-button button{
    background-color: var(--color-primary);
    color: var(--color-gray-100);
    padding: 8px;
    border: none;
    font-size: small;
    cursor: pointer;
}
.vertical-card-button button:hover{
    padding: 6px;
}
.vertical-card-container{   
    width: 15rem;
    height: 20rem;
}
.vertical-card-product-image,.product-card-image{
    width: 15rem;
    height: 10rem;
}
.vertical-card-content{
    padding: 0.5rem;
    height: 9rem;
    width: 14rem;
    justify-content: space-evenly;
}
.vertical-card-button{
    padding: 0.5rem 0;
}
.side-container{
    width: 18%;
}