.wish-list-container{
    margin-left: 6rem;
    flex-wrap: wrap;
    width: 70rem;
    height: auto;
    margin-bottom: 1rem;
    align-items: center;
}
.wishlist-label{
    color: var(--color-error);
    position: relative;
    text-align: center;
    left: 3rem;
    font-size: 2rem;
}
.whishlist-btn{
    margin: 2px;
    border-radius: 10px;
}
.vertical-card-button > .whishlist-btn,
.vertical-card-button:hover > .whishlist-btn{
    padding: 3px;
}

